/*===colors of auto page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #75beb5;
}
/*menu color when active*/
.menu-item.active p{
    color: #4fa29a !important;
}

/*btn refresh and transaction*/
.btn-success{
    background: #40968d;
    border-color: #40968d;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus{
    background: #40968d;
}
/*btn actions edit delete save*/
.btn-action.active {
    background-color: #91ccc6;
    border-color: #91ccc6;
}

.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
    background: #5f9c95;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #dff8f5;
}

.table-app table > tbody > tr.active{
    background-color: #b7e4df !important;
    border: 1px solid #5e9d95 !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #5e9d95 !important;
    border-bottom: 1px solid #5e9d95 !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #5e9d95 !important;
    border-bottom: 1px solid #5e9d95 !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #5e9d95!important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #beca82 !important;
}

.glyphicon-calendar {
    color: #5e9d95;
}

.modal-header{
    background: #5e9d95;
}
.btn-add:hover{
    background-color:#5e9d95;
    border-color: #5e9d95;
}
.more{
    border: 1px solid #5e9d95;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
    color: #5e9d95;
}
